/***********************************************
* Orange
***********************************************/
body.orange a,
body.orange .post-tag,
body.orange span:hover,
body.orange a,
body.orange a.brand span,
body.orange .coloured {
	color: #FF7C26;
}
body.orange .hvr-underline-from-center:before {
	background: #FF7C26 !important;
}
body.orange .social-share li a:hover {
	color: #FF7C26 !important;
}
body.orange .heartbeat:not(:required):after,
body.orange .heartbeat:not(:required):before {
	background: #FF7C26;
}

/***********************************************
* Green
***********************************************/
body.green a,
body.green .post-tag,
body.green span:hover,
body.green a,
body.green a.brand span,
body.green .coloured {
	color: #1ECC3E;
}
body.green .hvr-underline-from-center:before {
	background: #1ECC3E !important;
}
body.green .social-share li a:hover {
	color: #1ECC3E !important;
}
body.green .heartbeat:not(:required):after,
body.green .heartbeat:not(:required):before {
	background: #1ECC3E;
}

/***********************************************
* Red
***********************************************/
body.red a,
body.red .post-tag,
body.red span:hover,
body.red a,
body.red a.brand span,
body.red .coloured {
	color: #FF2626;
}
body.red .hvr-underline-from-center:before {
	background: #FF2626 !important;
}
body.red .social-share li a:hover {
	color: #FF2626 !important;
}
body.orange .heartbeat:not(:required):after,
body.orange .heartbeat:not(:required):before {
	background: #FF2626;
}

/***********************************************
* Blue
***********************************************/
body.blue a,
body.blue .post-tag,
body.blue span:hover,
body.blue a,
body.blue a.brand span,
body.blue .coloured {
	color: #3DA7FF;
}
body.blue .hvr-underline-from-center:before {
	background: #3DA7FF !important;
}
body.blue .social-share li a:hover {
	color: #3DA7FF !important;
}
body.blue .heartbeat:not(:required):after,
body.blue .heartbeat:not(:required):before {
	background: #3DA7FF;
}

/***********************************************
* Pink
***********************************************/
body.pink a,
body.pink .post-tag,
body.pink span:hover,
body.pink a,
body.pink a.brand span,
body.pink .coloured {
	color: #FF26E9;
}
body.pink .hvr-underline-from-center:before {
	background: #FF26E9 !important;
}
body.pink .social-share li a:hover {
	color: #FF26E9 !important;
}
body.pink .heartbeat:not(:required):after,
body.pink .heartbeat:not(:required):before {
	background: #FF26E9;
}

/***********************************************
* Yellow
***********************************************/
body.yellow a,
body.yellow .post-tag,
body.yellow span:hover,
body.yellow a,
body.yellow a.brand span,
body.yellow .coloured {
	color: #FFD500;
}
body.yellow .hvr-underline-from-center:before {
	background: #FFD500 !important;
}
body.yellow .social-share li a:hover {
	color: #FFD500 !important;
}
body.yellow .heartbeat:not(:required):after,
body.yellow .heartbeat:not(:required):before {
	background: #FFD500;
}


/***********************************************
* Purple
***********************************************/
body.purple a,
body.purple .post-tag,
body.purple span:hover,
body.purple a,
body.purple a.brand span,
body.purple .coloured {
	color: #8B26FF;
}
body.purple .hvr-underline-from-center:before {
	background: #8B26FF !important;
}
body.purple .social-share li a:hover {
	color: #8B26FF !important;
}
body.purple .heartbeat:not(:required):after,
body.purple .heartbeat:not(:required):before {
	background: #8B26FF;
}

/***********************************************
* Army
***********************************************/
body.army a,
body.army .post-tag,
body.army span:hover,
body.army a,
body.army a.brand span,
body.army .coloured {
	color: #008000;
}
body.army .hvr-underline-from-center:before {
	background: #008000 !important;
}
body.army .social-share li a:hover {
	color: #008000 !important;
}
body.army .heartbeat:not(:required):after,
body.army .heartbeat:not(:required):before {
	background: #008000;
}

/***********************************************
* Azure
***********************************************/
body.azure a,
body.azure .post-tag,
body.azure span:hover,
body.azure a,
body.azure a.brand span,
body.azure .coloured {
	color: #007FFF;
}
body.azure .hvr-underline-from-center:before {
	background: #007FFF !important;
}
body.azure .social-share li a:hover {
	color: #007FFF !important;
}
body.azure .heartbeat:not(:required):after,
body.azure .heartbeat:not(:required):before {
	background: #007FFF;
}

/***********************************************
* Cadet
***********************************************/
body.cadet a,
body.cadet .post-tag,
body.cadet span:hover,
body.cadet a,
body.cadet a.brand span,
body.cadet .coloured {
	color: #536872;
}
body.cadet .hvr-underline-from-center:before {
	background: #536872 !important;
}
body.cadet .social-share li a:hover {
	color: #536872 !important;
}
body.cadet .heartbeat:not(:required):after,
body.cadet .heartbeat:not(:required):before {
	background: #536872;
}
