.first-row {
	width: 100%;
	height: 100%;
	min-height: 998px;
	border-bottom: 1px solid lightgray;
}
@media screen and (max-width: 992px) {
	.first-row {
		background-image: url('../img/back3.jpg');
		background-size: cover;
		background-position-x: center;
	}
}
.first-row .container {
	position: relative;
	height: 100%;
}

.second-row {
	width: 100%;
	border-bottom: 1px solid lightgray;
	padding-top: 50px;
	padding-bottom: 50px;
}

.countdown-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
	font-size: 37px;
	text-align: center;
	color: #eaeaea;
}

@media screen and (max-width: 992px) {
	.countdown-text .unit {
		font-size: 30px;
	}
}

.countdown-container {
	position: absolute;
	width: 100%;
	bottom: 40%;
}
@media screen and (max-width: 992px) {
	.countdown-container {
		bottom: 100px;
	}
}
@media screen and (max-width: 992px) and (orientation: landscape) {
	.countdown-container {
		margin-top: 40%;
	}
}

.button-row-header {
	position: absolute;
	bottom: 25%;
}

.btn-header {
	background-color: rgba(69,204,206,0.7);
	color: #eaeaea;
}

.btn-header:hover {
	background-color: rgba(69,204,206,0.9);
}

.btn-header:hover:active {
	background-color: #45ccce;
}

.partiti-container {
	position: absolute;
	width: 100%;
	bottom: 40%;
	text-align: center;
}
@media screen and (max-width: 992px) {
	.partiti-container {
		bottom: 100px;
	}
}
@media screen and (max-width: 992px) and (orientation: landscape) {
	.partiti-container {
		margin-top: 40%;
	}
}

.color-clear {
	color: #eaeaea;
}

body {
	font-family: 'Poiret One', cursive;
	-webkit-font-smoothing: subpixel-antialiased;
}


.header {
	margin-top: 35%;
	color: #eaeaea;
}
@media screen and (min-width: 992px) {
	.header {
		margin-top: 5%;
	}
}

.whatsapp-header {
	text-align: center;
}

.whatsapp-number {
	font-size: 18px;
}

.do-post-header {
	text-align: center;
}

textarea {
	font-size: 20px;
	width: 100%;
	height: 150px;
}

.post {
	font-size: 20px;
	margin-top: 10px;
	padding-bottom: 10px;
}

.sub-post {
	margin-left: 40px;
}
@media screen and (max-width: 992px) {
	.sub-post {
		margin-left: 7px;
	}
}

.right{
	float: right;
}

.who {
	font-size: 20px;
}

.row-button {
	margin-top: 20px;
	font-size: 14px;
}

.profile-picture {
	height: 40px;
	width: 40px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}

.footer {
	margin-bottom: 50px;
	margin-top: 30px;
}

.color-ceruleo {
	color: #45ccce;
}

.left-ceruleo {
	border-left: 1px solid #45ccce;
}

.bottom-ceruleo-dashed {
	border-bottom: 1px dashed #45ccce;
}

.center {
	text-align: center;
}

.full-width {
	width: 100%;
}

.pointer {
	cursor: pointer;
}

.badge {
	background-color: lightgray;
}

.post-email {
	padding: 6px 12px;
}

input.ng-invalid-email {
	border: 1px solid red;
}

.profile {
	position: fixed;
	top: 5px;
	right: 5px;
	padding: 5px;
	background-color: #45ccce;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	z-index: 2;
}

.not-logged-message {
	text-align:center;
	margin-bottom: 70px;
}
@media screen and (max-width: 992px) {
	.not-logged-message {
		margin-bottom: 240px;
	}
}

.height-100 {
	height: 100%;
}

.width-100 {
	width: 100%;
}

.slides-background {
	background-color:rgba(255,255,255,0.5);
}

.font-size-x-large {
	font-size: x-large;
}

.color-green {
	color: green;
}

.fb-icon {
	color: darkblue;
	font-size: 15px;
}

.slick-next {
	font-size: 40px;
	right: -40px;
}
.slick-next:hover, .slick-next:focus {
	color: #45ccce;
}
.slick-next:before {
	content: '';
}

.slick-prev {
	font-size: 40px;
	left: -50px;
}
.slick-prev:hover, .slick-prev:focus {
	color: #45ccce;
}
.slick-prev:before {
	content: '';
}

.slide {
	padding: 10px;
	color: #eaeaea;
}

.slide:hover {
	cursor: pointer;
}

.slide .title {
	text-align: center;
	font-weight: bold;
}

.slide .date {
	text-align: center;
	font-weight: bold;
}

.slide .video {
	font-size: 40px;
	text-align: center;
	margin-top: 30px;
}

.slide-detail {
	padding: 10px;
	height: 700px;
	margin-top: 30px;
	color: #eaeaea;
}

.slide-detail .title {
	text-align: center;
	font-weight: bold;
}

.slide-detail .date {
	text-align: center;
	font-weight: bold;
}

.slide-selected-container.ng-hide-remove {
	-webkit-animation: zoomIn 0.5s;
	-moz-animation: zoomIn 0.5s;
	-ms-animation: zoomIn 0.5s;
	animation: zoomIn 0.5s;
}

.slide-detail iframe {
	left: 0px !important;
}

.slide-detail .slide-commands {
	float: right;
}