.first-row {
	width: 100%;
	height: 100%;
	background-image: url('../img/back2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 998px;
	border-bottom:  1px solid lightgray;
}
@media screen and (max-width: 992px) {
	.first-row {
		background-image: url('../img/back3.jpg');
		background-size: cover;
		background-position-x: center;
	}
}

.countdown-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
	font-size: 37px;
	text-align: center;
	color: #eaeaea;
}

@media screen and (max-width: 992px) {
	.countdown-text .unit {
		font-size: 30px;
	}
}

.countdown-container {
	margin-top: 5%;
}
@media screen and (max-width: 992px) {
	.countdown-container {
		margin-top: 100%;
	}
}
@media screen and (max-width: 992px) and (orientation: landscape) {
	.countdown-container {
		margin-top: 40%;
	}
}

body {
	font-family: 'Poiret One', cursive;
}


.header {
	margin-top: 40%;
	color: #eaeaea;
}
@media screen and (min-width: 992px) {
	.header {
		margin-top: 5%;
	}
}

.whatsapp-header {
	text-align: center;
}

.whatsapp-number {
	font-size: 18px;
}

.do-post-header {
	text-align: center;
}

textarea {
	font-size: 20px;
}

.post {
	font-size: 20px;
	margin-top: 10px;
	padding-bottom: 10px;
}

.sub-post {
	margin-left: 40px;
}
@media screen and (max-width: 992px) {
	.sub-post {
		margin-left: 7px;
	}
}

.right{
	float: right;
}

.who {
	font-size: 20px;
}

.row-button {
	margin-top: 20px;
}

.profile-picture {
	height: 40px;
	width: 40px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}

.footer {
	height: 100px;
}

.color-ceruleo {
	color: #45ccce;
}

.left-ceruleo {
	border-left: 1px solid #45ccce;
}

.bottom-ceruleo-dashed {
	border-bottom: 1px dashed #45ccce;
}

.center {
	text-align: center;
}

.full-width {
	width: 100%;
}