<div id="single" class="container">
	<script type="text/javascript" src="js/doScrollToTop.js"></script>

	<div class="post wow slideInUp">
		<div class="caption">
			<div class="header">
				<!--<span class="post-tag">#music</span>-->
				<h1>
					<!--<i class="wow bounceIn fa fa-heartbeat coloured" data-wow-duration="1.5s" data-wow-iteration="infinite"></i>-->
					Manteniamo vivi i rapporti
					<!--<i class="wow bounceIn fa fa-heartbeat coloured" data-wow-duration="1.5s" data-wow-iteration="infinite"></i>-->
				</h1>
			</div>
			<p class="text-center"><i class="heartbeat"></i></p>
			<h3 class="text-center">Questo &egrave; l'angolo dedicato alle effusioni, </br>agli insulti e ad ogni sorta di manifestazione di <small><small>(dis)</small></small>interesse nei nostri confronti.</h3>
			<p class="text-center">Un domani potremmo/dovremmo tornare.</p>
			<p class="text-center">Suona come una minaccia, invece siamo <small><small>(quasi)</small></small> certi del fatto che non lo sia. Cos&igrave; come sar&agrave; <small><small>(quasi)</small></small> sicuramente un piacere reincontrarsi.</p>
			<p class="text-center">Noi portiamo chiunque possa arrivare a leggere o consultare queste pagine nel cuore, nella speranza che anche quel qualcuno faccia lo stesso con noi.</p>

			<p class="text-center">Noi si va...</p>
			<div class="quote">
				<i class="quote-left fa fa-quote-left"></i>
				<i class="quote-right fa fa-quote-right"></i>
				<blockquote class="text-center">
					<p><i>Verso l’infinito e oltre!</i></p>
					<footer>Buzz Lightyear</footer>
				</blockquote>
			</div>
			<p class="text-center">pur tenendo conto che</p>
			<div class="quote">
				<i class="quote-left fa fa-quote-left"></i>
				<i class="quote-right fa fa-quote-right"></i>
				<blockquote class="text-center">
					<p><i>Il viaggio perfetto è circolare. La gioia della partenza, la gioia del ritorno.</i></p>
					<footer>Dino Basili</footer>
				</blockquote>
			</div>

			<h3 class="text-center">Bene, ora avete un motivo per dare libero sfogo alle vostre perverse menti.</h3>

		</div>
	</div>

	<div class="comments wow slideInUp">
		<div id="disqus_thread"></div>
		<script>
			var disqus_config = function () {
				this.page.url = window.location.href;
				this.page.title = 'Spam';
				this.page.identifier = 'spam';
			};
			(function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = '//croccodilli.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	</div>
</div>