<html ng-app="croccodilli">
	<head>
		<title>Croccodilli</title>

		<link rel="shortcut icon" type="image/png" href="img/croccodillo.png"/>

		<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="lib/textAngular.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<style type="text/css">
			body {
				font-family: 'Poiret One', cursive;
				-webkit-font-smoothing: subpixel-antialiased;
			}
		</style>

		<script type="text/javascript" src="lib/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="lib/blockspring.js"></script>
		<script type="text/javascript" src="lib/angular.min.js"></script>
		<script type="text/javascript" src="lib/angular-md5.min.js"></script>
		<script type="text/javascript" src="lib/textAngular-sanitize.min.js"></script>
		<script type="text/javascript" src="lib/textAngular-rangy.min.js"></script>
		<script type="text/javascript" src="lib/textAngular.min.js"></script>
		
		<script type="text/javascript">
			angular.module('croccodilli.services', []);
			angular.module('croccodilli.controllers', []);

			var croccodilli = angular.module('croccodilli', [
				'croccodilli.services',
				'croccodilli.controllers',
				'angular-md5',
				'textAngular'
			]);
		</script>

		<script type="text/javascript" src="js/angular/services/SlidesService.js"></script>
		<script type="text/javascript" src="js/angular/controllers/DoPostController.js"></script>

	</head>
	<body ng-controller="DoPostController">
		<div class="container">
			<div class="col-md-12"
				ng-if="!isAuthenticated()">
				<h1>Manteniamo questi rapporti!</h1>
				<form ng-submit="doCheck()">
					<div class="input-group">
						<span class="input-group-addon">Secret</span>
						<input type="text"
							ng-model="logInputForm.secret"
							class="form-control"
							placeholder="digita..."/>
					</div>
				</form>
			</div>
			<div class="col-md-12"
				ng-if="isAuthenticated()">
				<h1>Compila il post</h1>
				<div>
					<div class="input-group">
						<span class="input-group-addon">Titolo</span>
						<input type="text"
							ng-disabled="publishing"
							ng-model="inputSlide.title"
							class="form-control"/>
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">YouTube video id</span>
						<input type="text"
							ng-disabled="publishing"
							ng-model="inputSlide.videoId"
							class="form-control"/>
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">Url immagine background</span>
						<input type="text"
							ng-disabled="publishing"
							ng-model="inputSlide.background"
							class="form-control"/>
					</div>
					<br>
					<div text-angular
						ng-disabled="publishing"
						ng-model="inputSlide.content"></div>
					<br>
					<div>
						<span class="btn btn-default pull-right"
							ng-click="pubblicaSlide()">
							Pubblica
							<i class="fa fa-spinner fa-spin" ng-if="publishing"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>