<html ng-app="croccodilli">
	<head>
		<title>Croccodilli</title>

		<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />-->
		<link rel="shortcut icon" type="image/png" href="img/croccodillo.png"/>

		<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<!--<link rel="stylesheet" href="css/font-awesome.min.css">-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">
		
		<script type="text/javascript" src="http://connect.facebook.net/en_US/sdk.js"></script>
		<script type="text/javascript" src="js/fb.js"></script>
		<script type="text/javascript" src="js/moment.min.js"></script>
		<script type="text/javascript" src="js/moment-timezone-with-data.min.js"></script>
		<script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/blockspring.js"></script>
		
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/roundProgress.js"></script>
		<script type="text/javascript" src="js/croccodilli.js"></script>
		<script type="text/javascript" src="js/PostService.js"></script>
		<script type="text/javascript" src="js/FacebookController.js"></script>
		<script type="text/javascript" src="js/PostsController.js"></script>
		<script type="text/javascript" src="js/PostController.js"></script>
		<script type="text/javascript" src="js/WatchController.js"></script>
	</head>
	<body ng-controller="FacebookController">
		<div class="first-row">
			<div class="container" ng-controller="SiteController">
				<div class="header col-md-12">
					<h2>
						<b>Australia 2016-2017</b>
					</h2>
					<h1>
						Non smetteremo di eplorare. <br>Ed alla fine di tutto il nostro andare, ritorneremo al punto di partenza per conoscerlo per la prima volta.
					</h1>
					<p class="who right">&minus;T. S. Eliot</p>
				</div>
				<div class="col-md-12 countdown-container">
					<div class="col-md-3 col-xs-3">
						<div class="countdown-text">
							<span>{{days}} <span class="unit">Giorni</span></span>
						</div>
						<div round-progress
							max="200"
							current="days"
							color="#45ccce"
							bgcolor="#eaeaea"
							radius="125"
							stroke="15"
							rounded="true"
							responsive="true"
							duration="800"
							animation="easeOutBounce"
							animation-delay="0"></div>
					</div>
					<div class="col-md-3 col-xs-3">
						<div class="countdown-text">
							<span>{{hours}} <span class="unit">Ore</span></span>
						</div>
						<div round-progress
							max="24"
							current="hours"
							color="#45ccce"
							bgcolor="#eaeaea"
							radius="125"
							stroke="15"
							responsive="true"
							rounded="true"
							duration="800"
							animation="easeOutBounce"
							animation-delay="0"></div>
					</div>
					<div class="col-md-3 col-xs-3">
						<div class="countdown-text">
							<span>{{minutes}} <span class="unit">Minuti</span></span>
						</div>
						<div round-progress
							class="col-md-3"
							max="60"
							current="minutes"
							color="#45ccce"
							bgcolor="#eaeaea"
							radius="125"
							stroke="15"
							responsive="true"
							rounded="true"
							duration="800"
							animation="easeOutBounce"
							animation-delay="0"></div>
					</div>
					<div class="col-md-3 col-xs-3">
						<div class="countdown-text">
							<span>{{seconds}} <span class="unit">Secondi</span></span>
						</div>
						<div round-progress
							class="col-md-3"
							max="60"
							current="seconds"
							color="#45ccce"
							bgcolor="#eaeaea"
							radius="125"
							stroke="15"
							responsive="true"
							rounded="true"
							duration="800"
							animation="easeOutBounce"
							animation-delay="0"></div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="container">
				<div class="col-md-12 whatsapp-header">
					<div class="col-md-6 whatsapp-col">
						<h2 class="col-md-12">
							<a class="color-ceruleo"
								href="https://www.facebook.com/tommaso.previero" target="_blank">Tommaso</a>
						</h2>
						<div class="col-md-12 whatsapp-number">
							Italia <i style="color: green;" class="fa fa-whatsapp"></i>+39 347 1114206
						</div>
						<div class="col-md-12 whatsapp-number">
							Australia <i style="color: green;" class="fa fa-whatsapp"></i> Coming soon...
						</div>
					</div>
					<div class="col-md-6">
						<h2 class="col-md-12">
							<a class="color-ceruleo"
								href="https://www.facebook.com/sharon.storti" target="_blank">Sharon</a>
						</h2>
						<div class="col-md-12 whatsapp-number">
							Italia <i style="color: green;" class="fa fa-whatsapp"></i> +39 349 8439920
						</div>
						<div class="col-md-12 whatsapp-number">
							Australia <i style="color: green;" class="fa fa-whatsapp"></i> Coming soon...
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<hr class="full-width">
				</div>
				<div class="col-md-12 do-post-header">
					<h1>Manteniamo vivi i rapporti <i style="color: #45ccce;" class="fa fa-heartbeat"></i></h1>
				</div>
				<div class="col-md-12">
					<textarea ng-model="commento"
						ng-disabled="posting"
						placeholder="Ci stavi pensando? Se ci scrivi ti risponderemo di sicuro...forse."></textarea>
				</div>
				<div class="col-md-12 row-button">
					<div class="row col-md-3 col-md-offset-9 col-xs-3 col-xs-offset-9 btn btn-default"
						ng-if="isLogged"
						ng-disabled="posting"
						ng-click="savePost()">
						<span>Invia <img ng-src="{{imageUrl}}" class="profile-picture"/></span>
						<i ng-show="posting" class="fa fa-spinner fa-spin"></i>
					</div>
					<div class="row col-md-3 col-md-offset-9 col-xs-3 col-xs-offset-9 btn btn-default"
						ng-if="!isLogged"
						ng-click="loginFacebook()">
						Invia messaggio con <i style="color: darkblue; font-size: 15px;" class="fa fa-facebook-official"></i>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="container"
				ng-controller="PostsController">
				<div ng-if="loadingPosts"
					class="col-md-12 col-xs-12 post center"
					ng-class="{'bottom-ceruleo-dashed': groupedPosts.length>0}">
					<i class="fa fa-spinner fa-spin"></i>
				</div>
				<div class="col-md-12 col-xs-12 post"
					ng-controller="PostController"
					ng-class="{'bottom-ceruleo-dashed': !$last}"
					ng-repeat="groupedPost in groupedPosts">
					<div class="col-md-1 col-xs-1 row">
						<img ng-src="{{groupedPost.post.posterImageUrl}}"
							style="float: right;"
							class="profile-picture">
					</div>
					<div class="col-md-10 col-xs-10">
						<small>
							<b>{{groupedPost.post.poster}}</b>
							<span ng-controller="WatchController"
								ng-click="toggleTime()"
								class="badge pointer">
								<i class="fa fa-clock-o"></i> IT
								<span ng-show="expanded">{{groupedPost.post.date_it}}</span>
							</span>
							<span ng-controller="WatchController"
								ng-click="toggleTime()"
								class="badge pointer">
								<i class="fa fa-clock-o"></i> AU 
								<span ng-show="expanded">{{groupedPost.post.date_au}}</span>
							</span>
						</small><br>
						{{groupedPost.post.content}}<br>
						<a class="color-ceruleo"
							href=""
							ng-click="enableReply()">Rispondi</a>
					</div>
					<div ng-repeat="post in groupedPost.referred"
						class="col-md-12 col-xs-12 left-ceruleo sub-post">
						<div class="col-md-1 col-xs-1 row">
							<img ng-src="{{post.posterImageUrl}}"
								class="profile-picture pull-right">
						</div>
						<div class="col-md-10 col-xs-10">
							<small>
								<b>{{post.poster}}</b>
								<span ng-controller="WatchController"
									ng-click="toggleTime()"
									class="badge pointer">
									<i class="fa fa-clock-o"></i> IT
									<span ng-show="expanded">{{post.date_it}}</span>
								</span>
								<span ng-controller="WatchController"
									ng-click="toggleTime()"
									class="badge pointer">
									<i class="fa fa-clock-o"></i> AU 
									<span ng-show="expanded">{{post.date_au}}</span>
								</span>
							</small><br>
							{{post.content}}
						</div>
					</div>
					<div ng-if="showReply">
						<div class="col-md-12">
							<textarea ng-model="subpost.commento"
								ng-disabled="subposting"
								autofocus
								placeholder="Secondo me..."></textarea>
						</div>
						<div class="col-md-12 row-button">
							<div class="row col-md-3 col-md-offset-9 col-xs-3 col-xs-offset-9 btn btn-default"
								ng-if="isLogged"
								ng-disabled="subposting"
								ng-click="saveSubPost(groupedPost)">
								<span>Invia <img ng-src="{{imageUrl}}" class="profile-picture"/></span>
								<i ng-show="subposting" class="fa fa-spinner fa-spin"></i>
							</div>
							<div class="row col-md-3 col-md-offset-9 col-xs-3 col-xs-offset-9 btn btn-default"
								ng-if="!isLogged"
								ng-click="loginFacebook()">
								Lascia messaggio con <i style="color: darkblue; font-size: 15px;" class="fa fa-facebook-official"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer"></div>
	</body>
</html>